{% extends "MojeFinanse/base.html" %}
{% load static %}
{% block content %}
        <a href="{% url 'home' %}" class="btn btn-link text-decoration-none">
            <i class="fas fa-arrow-left"></i> Powrót
        </a>

        <h3 class="text-center mt-5 mb-4">Wydatki Miesięczne</h3>
        <p class=" lead text-center mb-4 highlighted-summary">
            {{ summary_month_text }}
        </p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Całkowite Wydatki (PLN)</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in month_expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.total }} PLN</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}




